<div class="row m-0 pale-yellow">
  <div class="banner">
    <img src="../../../../assets/background/other_smile.png" alt="banner" width="100%" />
    <div class="subtitle font-title">
      <p *ngIf="currentUser.type === 'patient'">Lista de Citas</p>
      <p></p>
      <p *ngIf="currentUser.type === 'dentist'">Dashboard del Odontologo</p>
      <p></p>
        <p *ngIf="currentUser.type === 'admin'">Usuarios</p>
        <p></p>
    </div>
  </div>

  <div class="col-12 p-5">
    <div class="w-100">
      <table class="table table-hover table-responsive-sm text-center">
        <thead class="mythead">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tiempo de visita</th>
            <th *ngIf="currentUser === 'dentist'"scope="col">Dentista</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Prueba</td>
            <td>email@loquesea.com</td>
            <td>18 Dec 2018</td>
            <td>10:15 - 10:30</td>
            <td *ngIf="currentUser === 'dentist'">Pana</td>
            <td>
                <button class="btn-info rounded m-1"><i class="fas fa-pencil-alt"></i></button>
                <button class="btn-danger rounded m-1"><i class="fas fa-trash-alt"></i></button>

            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{ currentUser.name }}</td>
            <td>currentUser.email</td>
            <td>currentUser.date</td>
            <td>currentUser.shift</td>
            <td>dentista escogido</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
