<!-- <header>
	<h1>Smiling Bird</h1>
	<p>Tu clínica dental de confianza</p>
</header> -->
<nav id="sticky_nav">
	<div class="container_left">
		<a class="home">
      <img src="../../assets/home.png">
    </a>
    <button id="btnMenu" onclick="openMenu()">
      <div class="bars"><img src="../../assets/barras.png"></div>
      <div class="close"><img src="../../assets/close.png"></div>
		</button>
	</div>
	<div class="container_menu" id="thisMenu">
			<button class="btnList">Dropdown 1</button>
			<button class="btnList">Dropdown 2</button>
			<button class="btnList">Dropdown 3</button>
			<button class="btnList">Dropdown 4</button>
			<button class="btnList">Dropdown 5</button>
	</div>
</nav>
