<div class="graphs">

  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon text-center">
                <img src="../../../../../assets/extra/dollar.png" class="icon" alt="dollar">
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">GANANCIAS</p>
                <p class="card-title">${{ totalEarnings }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <img src="../../../../../assets/extra/appointment-icon.png" class="icon" alt="appointments">
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">CITAS ACT.</p>
                <p class="card-title">{{ totalActiveApp }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <img src="../../../../../assets/extra/user-icon.png" class="icon" alt="user icon">
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">PACIENTES</p>
                <p class="card-title">{{ totalPatients }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <img src="../../../../../assets/extra/dentist-icon.png" class="icon" alt="dentist">
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">DENTISTAS</p>
                <p class="card-title">{{ totalDentist }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="date-range">
    <form [formGroup]="dateRangeForm" (ngSubmit)="selectDateRange()" class="date-form">

      <div class="input-group w-50 m-2">
        <input type="date" class="form-control form-field w-75" formControlName="start">
        <div class="input-group-append">
          <button class="btn btn-warning" type="button" [disabled]="true">
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>
      <div class="input-group w-50 m-2">
        <input type="date" class="form-control form-field w-75" formControlName="end">
        <div class="input-group-append">
          <button class="btn btn-warning" type="button" [disabled]="true">
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>

      <button type="button" class="btn btn-info m-2 w-50" [disabled]="!dateRangeForm.valid" (click)="selectDateRange()">Evaluar</button>

    </form>

  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header ">
          <h5 class="card-title">CITAS</h5>
          <p class="card-category">POR RANGO DE FECHA</p>
        </div>
        <div class="card-body ">
          <canvas id="chartAppDate" width="400" height="200"></canvas>
        </div>
        <div class="card-footer ">
          <hr />
          <p>{{ startDate | date: 'dd-MM-yyyy' }} al {{ endDate | date: 'dd-MM-yyyy' }}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">CITAS</h5>
          <p class="card-category">POR ODONTÓLOGO</p>
        </div>
        <div class="card-body">
          <canvas id="chartDentist" width="400" height="200"></canvas>
        </div>
        <div class="card-footer ">
          <hr />
        </div>
      </div>

    </div>

  </div>


  <div class="row">

    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">CITAS</h5>
          <p class="card-category">POR STATUS</p>
        </div>
        <div class="card-body ">
          <canvas id="chartStatus"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-info"></i> Activa
            <i class="fa fa-circle text-warning"></i> Finalizada
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">GANANCIAS</h5>
          <p class="card-category">ANUALES</p>
        </div>
        <div class="card-body">
          <canvas id="chartEarnings" width="400" height="200"></canvas>
        </div>
        <div class="card-footer">
          <hr />
        </div>
      </div>
    </div>

  </div>

</div>
