.card-color{
    background-color: rgb(243, 207, 139);
}

.btn-name {
  border: transparent;
  background: transparent;
}

.card-data {
  background-color: rgb(255, 250, 184);
}

.container {
    position: relative;

  }

  .payment-image{
      height: 214px;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
