body,
button {
  text-align: center;
}

button {
  background-color: transparent;
  margin: 0;
  border: none;
  cursor: pointer;
}

.btnList {
  background: transparent;
}

button,
.home {
  font-size: 0.9rem;
  padding: 16px;
  color: #121212;
  vertical-align: middle;
}

.btnList:hover,
.home:hover {
  background: #73ced3;
  color: #101010;
}

[class*="container"] {
  display: block;
  position: relative;
  float: left;
}

.home,
#btnMenu {
  position: relative;
  float: left;
}

#btnMenu,
.close {
  display: none;
}

header {
  box-sizing: border-box;
  background: #005772;
  width: 100%;
  position: absolute;
  z-index: 999;
  box-shadow: 0 8px 6px -6px #000;
  text-align: center;
  /* text-shadow: -0.5px 0 #fff8e4, 0 0.5px #84c7cb, 0.5px 0 #84c7cb, 0 -0.5px #84c7cb; */
}

#sticky_nav {
  background: #0d90b1;
  height: fit-content;
  width: 100%;
  display: block;
  position: fixed;
  display: flex;
  z-index: 100;
  box-shadow: 0 6px 4px -4px #333333;
}

@media (max-width: 683px) {

  #btnMenu {
    display: block;
  }

  header {
    display: none;
  }

  .none {
    display: none;
  }

  .btnList {
    width: 8rem;
    box-shadow: 0 2px 2px -2px #333;
    background: #0d90b1;
  }

  .opened {
    width: 100%;
    top: 100%;
    display: block;
    position: absolute;
  }

  .opened .btnList {
    background: #0d90b1;
    display: inline-block;
    width: 100%;
  }

  .nav-right .btnList {
    padding: 0.8rem;
  }

}

.nav-right {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
