<div class="row m-0 justify-content-center align-content-center pale-yellow">
  <div class="email-form bg-light">
    <h4 class="mb-3">Recuperar contraseña</h4>
    <p class="mb-2">Por favor ingrese el correo electrónico correspondiente con su cuenta.</p>
    <form [formGroup]="emailForm" (ngSubmit)="forgotPassword()">
      <div class="form-group">
        <label for="email">Correo eléctronico:</label>
        <input type="email" id="email" formControlName="email" class="form-control form-field"/>
      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-warning mr-2" [disabled]="!emailForm.valid">
          Recuperar
        </button>
        <button type="button" class="btn btn-danger" routerLink="/visitor/login">Volver</button>
      </div>
    </form>
  </div>
</div>
