* {
  margin: 0;
  padding: 0;
}

.module {
  position: relative;
  top: 15%;
  height: 70%;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
}

.module ul {
  list-style-type: none;
  margin: 0;
}

.form-group {
  float: left;
  height: 86%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(191, 191, 63, 0.7);
  border-radius: 10%;
  margin-top: 30%;
}

.form-control.form-field {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: rgba(0, 0, 0, .3) 2px solid;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.form-control.form-field:focus {
  outline: none;
  border: rgba(24, 149, 215, 1) 2px solid;
  color: rgba(24, 149, 215, 1);
}

.btn {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: rgba(0, 0, 0, .3) 0px solid;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  background: #03779b;
  color: #FFF;
  font-weight: bold;
  font-size: 12pt;
  transition: background .4s;
  cursor: pointer;
}

.btn:hover {
  background: #03779b;

}