.email-form {
  margin-top: 30vh;
  margin-bottom: 30vh;
  padding: 30px;
  border: 1px gray solid;
  border-radius: 25px;
}

@media (max-width: 640px) {
  .email-form {
    margin-right: 5vw;
    margin-left: 5vw;
  }
}
