<div class="row m-0">

  <div class="wrapper">

    <ng-container>

      <div class="conteiner p-3  m-5">

      <ul class="list-unstyled p-3 ">

        <li  class="media">
          <div class="">
          <img src="" class="mr-2"
            alt="donde ta la imagen 2">
          </div>
          <div class="media-body bg-white rounded m-3">
            <h5 class="bg-info rounded"> el titulo de lo que quiero aqui</h5>
           lo que quiero va aqui y aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
           aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </div>
           <h5 class="bg-warning rounded m-3"> el coste de todo</h5>
        </li>

         <li class="media">
           <img src="donde ta la imagen" class="mr-2" alt="donde ta la imagen 2">
           <div class="media-body bg-white rounded m-3">
             <h5 class="bg-info rounded"> el titulo de lo que quiero aqui</h5>
             lo que quiero va aqui y aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
             aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
           </div>
           <h5 class="bg-warning rounded m-3"> el coste de todo</h5>
         </li>
           <li class="media">
             <img src="donde ta la imagen" class="mr-2" alt="donde ta la imagen 2">
             <div class="media-body bg-white rounded m-3">
               <h5 class="bg-info rounded"> el titulo de lo que quiero aqui</h5>
               lo que quiero va aqui y aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
               aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
             </div>
             <h5 class="bg-warning rounded m-3"> el coste de todo</h5>
           </li>

      </ul>

      </div>


      </ng-container>

  </div>

</div>
