<div
  class="row m-0 justify-content-center align-content-center pale-yellow px-sm-5"
>
  <div class="register-form w-75">
    <div class="module">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nombre y Apellido</label>
          <input
            type="text"
            placeholder="Pedro Vargas"
            id="name"
            formControlName="name"
            class="form-control form-field"
          />
          <span
            *ngIf="
              !registerForm.get('name').valid &&
              registerForm.get('name').touched
            "
            class="help-block"
          >
            <span *ngIf="registerForm.get('name').errors['required']"
              >El campo es obligatorio</span
            >
          </span>
        </div>

        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input
            type="email"
            placeholder="Usuario@gmail.com"
            id="email"
            formControlName="email"
            class="form-control form-field"
          />
          <span
            *ngIf="
              !registerForm.get('email').valid &&
              registerForm.get('email').touched
            "
            class="help-block"
          >
            <span *ngIf="registerForm.get('email').errors['required']"
              >El campo es obligatorio</span
            >
            <span *ngIf="registerForm.get('email').errors['email']"
              >El dato introducido es incorrecto</span
            >
          </span>
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            placeholder="**********"
            id="password"
            formControlName="password"
            class="form-control form-field"
          />
          <span
            *ngIf="
              !registerForm.get('password').valid &&
              registerForm.get('password').touched
            "
            class="help-block"
          >
            <span *ngIf="registerForm.get('password').errors['required']"
              >El campo es obligatorio</span
            >
          </span>
        </div>

        <div class="form-group">
          <label for="password">Repetir contraseña</label>
          <input
            type="password"
            placeholder="**********"
            id="password2"
            formControlName="password2"
            class="form-control form-field"
          />
          <span
            *ngIf="
              !registerForm.get('password2').valid &&
              registerForm.get('password2').touched
            "
            class="help-block"
          >
            <span *ngIf="registerForm.get('password2').errors['required']"
              >El campo es obligatorio</span
            >
          </span>
        </div>

        <div class="form-group">
          <label for="Cedula">Cédula</label>
          <input
            type="number"
            placeholder="27362918"
            id="Cedula"
            formControlName="cedula"
            class="form-control form-field"
          />
          <span
            *ngIf="
              !registerForm.get('cedula').valid &&
              registerForm.get('cedula').touched
            "
            class="help-block"
          >
            <span *ngIf="registerForm.get('cedula').errors['required']"
              >El campo es obligatorio</span
            >
          </span>
        </div>

        <button
          class="btn btn-block my-4 font-weight-bold"
          type="submit"
          [disabled]="!registerForm.valid"
        >
          Registrarse
        </button>
      </form>
    </div>
  </div>
</div>
