.table-wrapper {
  padding: 10px;
  margin: 5%;
  min-height: 60vh;
}

span {
  font-size: 1.1rem;
}

tr {
  background-color: transparent;
}

tr:hover {
  background-color: rgb(167, 167, 167);
}

/* @media (max-width: 760px) {
  .list {
    margin:auto;
    width: fit-content;
  }
} */
