.table-wrapper {
  padding: 10px;
  margin: 5%;
  min-height: 60vh;
}

.user {
  background-color: #ffecb3;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

span {
  font-size: 1.1rem;
}

tr {
  background-color: transparent;
}

tr:hover {
  background-color: rgb(195, 231, 231);
}

@media (max-width: 590px) {
  .table-wrapper {
    padding: 10px 45px;
  }
}
