<div class="row m-0 pale-yellow">

  <div class="banner">
    <img src="../../../../assets/background/teeth.jpg" alt="banner" width="100%">
    <div class="subtitle font-title">
      <p *ngIf="currentUser.type === 'patient'">Odontólogos<p>
      <p *ngIf="currentUser.type === 'dentist'">Pacientes<p>
      <p *ngIf="currentUser.type === 'admin'">Usuarios<p>
    </div>
  </div>

  <div class="col-12 py-5 table-wrapper">
    <table class="table table-responsive-md list">
      <thead>
        <tr class="bg-info">
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Correo</th>
          <th>Tipo</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <th scope="row">{{ user.name }}</th>
          <td>{{ user.identification }}</td>
          <td>{{ user.user }}</td>
          <td class="text-capitalize">{{ user.type }}</td>
          <td>
            <button *ngIf="currentUser.type === 'patient'">Solicitar cita</button>
            <button *ngIf="currentUser.type === 'patient'">Historial</button>
            <button *ngIf="currentUser.type === 'dentist'">Mensaje</button>
            <button *ngIf="currentUser.type === 'admin'">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <div class="w-100" id="accordion">
      <div class="card" *ngFor="let user of userList; let i = index">
        <div class="card-header" id="{{ 'heading' + i }}">
          <h5 class="mb-0">
            <button class="btn btn-user" data-toggle="collapse" [attr.data-target]="'#user' + i" [attr.aria-expanded]="false" [attr.aria-controls]="'user' + i">
              {{ user.name }}
            </button>
          </h5>
        </div>

        <div id="{{ 'user' + i }}" class="collapse" [attr.aria-labelledby]="'user' + i" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div> -->

  </div>

</div>
