<div class="px-5">
  <h5 class="text-center my-3">INFORMACIÓN</h5>
  <hr />
  <form [formGroup]="editForm" (ngSubmit)="onEdit()">
    <div class="form-group">
      <label for="name" class="text-uppercase font-weight-bold">Nombre</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control form-field"
      />
      <span
        *ngIf="!editForm.get('name').valid && editForm.get('name').touched"
        class="help-block"
      >
        <span *ngIf="editForm.get('name').errors['required']"
          >El campo es obligatorio</span
        >
      </span>
    </div>

    <div class="form-group">
      <label for="identification" class="text-uppercase font-weight-bold"
        >Cédula</label
      >
      <input
        type="number"
        value="{{ currentUser.identification }}"
        id="identification"
        class="form-control form-field"
        formControlName="identification"
      />
      <span
        *ngIf="!editForm.get('identification').valid && editForm.get('identification').touched"
        class="help-block"
      >
        <span *ngIf="editForm.get('identification').errors['required']"
          >El campo es obligatorio</span
        >
      </span>
    </div>

    <div class="form-group">
      <label for="user" class="text-uppercase font-weight-bold">Correo</label>
      <input id="user" formControlName="user" class="form-control form-field" />
      <span
        *ngIf="!editForm.get('user').valid && editForm.get('user').touched"
        class="help-block"
      >
        <span *ngIf="editForm.get('name').errors['required']"
          >El campo es obligatorio</span
        >
        <span *ngIf="editForm.get('user').errors['email']"
          >El dato introducido es incorrecto</span
        >
      </span>
    </div>

    <div class="form-group">
      <label for="birthDate" class="text-uppercase font-weight-bold d-block"
        >Año de nacimiento</label
      >
      <!-- <input [max]="maxDate" type="date" id="birthDate" formControlName="birthDate"/> -->
      <!-- <input class="form-control" placeholder="yyyy-mm-dd" formControlName="birthDate" ngbDatepicker #d="ngbDatepicker"> -->
      <!-- <input class="form-control" placeholder="yyyy-mm-dd" formControlName="birthDate"
             id="birthDate" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div> -->
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          formControlName="birthDate"
          id="birthDate"
          ngbDatepicker
          #d="ngbDatepicker"
          [maxDate]="maxDate"
          [minDate]="minDate"
          [(ngModel)]=date
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="gender" class="text-uppercase font-weight-bold">Género</label>
      <select
        id="gender"
        formControlName="gender"
        class="form-control form-field"
      >
        <option value="mujer">Mujer</option>
        <option value="hombre">Hombre</option>
      </select>
    </div>

    <span *ngIf="currentUser.type === 'dentist'">
      <div class="form-group">
        <label for="shift" class="text-uppercase font-weight-bold"
          >Horario</label
        >
        <input
          id="user"
          formControlName="user"
          class="form-control form-field"
        />
      </div>
    </span>

    <span *ngIf="currentUser.type === 'dentist'">
      <div class="form-group">
        <label for="payment-methods" class="text-uppercase font-weight-bold"
          >Métodos de pago</label
        >
        <input
          id="payment-methods"
          formControlName="payment-methods"
          class="form-control form-field"
        />
      </div>
    </span>
    <button
      class="btn btn-warning btn-block my-4"
      type="submit"
      [disabled]="!editForm.valid"
    >
      Guardar datos
    </button>
  </form>
</div>
