<div class="container-fluid">

  <div class="row">
    <!-- Banner -->
    <img
      src="../../../assets/background/smile.jpeg"
      alt="banner"
      class="img-fluid"
      width="100%"
      height="30%"
    />
  </div>

  <div class="row">
    <!-- Name -->
    <div class="w-100 jumbotron">
      <div class="container">
        <h1 class="font-weight-light">Smiling Bird</h1>
        <h4 class="font-weight-light">
          Su clínica de confianza, siempre contigo.
        </h4>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-end justify-content-center mb-5">
    <!-- Intro -->
    <h5 class="w-100 text-center m-5">
      ¡Bienvenidos a nuestro espacio en la red!
    </h5>
    <p class="w-75">
      En Smiling Bird ponemos a su disposición la experiencia del mejor equipo
      de odontólogos y las instalaciones más modernas y cómodas, además de la
      última tecnología a nivel mundial.
    </p>
    <p class="w-75 mb-5">
      Somos un grupo humano verdaderamente comprometido con lo que hace, capaz
      de brindar un servicio de salud integral, personalizado y de alto valor
      científico, enfocado en la ética, responsabilidad y sentido social de
      nuestra labor.
    </p>
    <p class="w-75 font-italic mb-5">
      Así que ven a Smiling Bird y vuela alto con nosotros.
    </p>
    <h6 class="w-100 font-italic font-weight-light text-muted text-center">
      CARACAS-VENEZUELA
    </h6>
  </div>

  <div class="row">
    <!-- Testimonials -->
    <ngb-carousel class="w-100">

      <!-- First testimonial -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="w-100 testimonial"></div>
        </div>
        <div class="carousel-caption">
          <p class="font-italic">
            “Quería colocarme implantes dentales y no sabía en quién confiar.
            Solicité varias opiniones y finalmente me decidí por SMILING BIRD
            porque me ofrecieron las mejores garantías y me transmitieron mucha
            seguridad. Ahora que acabé el tratamiento puedo decir que quedé
            encantada y que todo el equipo me pareció muy profesional”.
          </p>
          <hr />
          <h6 class="font-weight-light">Sara López</h6>
          <h6 class="font-weigt-lighter my-3 text-white-50 font-italic">
            Abogada
          </h6>
        </div>
      </ng-template>

      <!-- Second testimonial -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="w-100 testimonial"></div>
        </div>
        <div class="carousel-caption">
          <p class="font-italic">
            “Antes me daba vergüenza sonreír porque no estaba conforme con el
            aspecto de mi dentadura. Desde que visité SMILING BIRD me siento más
            cómoda y segura de mi misma. Me hicieron un diseño digital de
            sonrisa, me cortaron las encías y me blanquearon los dientes”.
          </p>
          <hr />
          <h6 class="font-weight-light">Jessica Wong</h6>
          <h6 class="font-weigt-lighter my-3 text-white-50 font-italic">
            Estudiante
          </h6>
        </div>
      </ng-template>

      <!-- Third testimonial -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="w-100 testimonial"></div>
        </div>
        <div class="carousel-caption">
          <p class="font-italic">
            “Me vi en la necesidad de ir a la clínica para tratar algunas caries
            y hacerme dos tratamientos de conducto. Recomendaría a SMILING BIRD
            por la asesoría, por la receptividad de su personal, por sus
            impecables instalaciones, y sobre todo porque los procedimientos
            fueron ejecutados sin ningún tipo de dolor”.
          </p>
          <hr />
          <h6 class="font-weight-light">Pablo Marcano</h6>
          <h6 class="font-weigt-lighter my-3 text-white-50 font-italic">
            Contador Público
          </h6>
        </div>
      </ng-template>

    </ngb-carousel>
  </div>

  <div class="row">
    <!-- Services -->

    <h2 class="font-weight-light w-100 text-center m-5">
      Nuestros servicios
    </h2>
    <p class="font-weight-bold w-100 text-center">
      ¡Todas las Especialidades en el mismo lugar!
    <p>

    <!-- Treatments container -->
    <div class="container-fluid">

      <!-- First row -->
      <div class="row">

        <!-- Treatment -->
        <div class="col-sm treatment m-5 text-center">
          <img
            class="thumbnail"
            alt="thumbnail"
            src="../../../assets/treatments/blanqueamiento.jpg"
          />
          <div class="cover">
            <h4 class="font-weight-light m-5">ESTÉTICA DENTAL</h4>
            <hr />
            <p>
              Análisis y estudio de las características dentogingivales para
              corregir defectos cosméticos y embellecer el aspecto general de la
              dentadura
            </p>
            <hr />
          </div>
        </div>

        <!-- Treatment -->
        <div class="col-sm treatment m-5 text-center">
          <img
            class="thumbnail"
            alt="thumbnail"
            src="../../../assets/treatments/cirugia_bucal.jpg"
          />
          <div class="cover">
            <h4 class="font-weight-light m-5">CIRUGÍA BUCAL</h4>
            <hr />
            <p>
              Prevención, diagnóstico y tratamiento de toda la patología
              quirúrgica propia o asociada a dientes, mucosas, labios, encías y
              huesos maxilares.
            </p>
            <hr />
          </div>
        </div>

      </div> <!-- End first row -->

      <!-- Second row -->
      <div class="row">

        <!-- Treatment -->
        <div class="col-sm treatment m-5 text-center">
          <img
            class="thumbnail"
            alt="thumbnail"
            src="../../../assets/treatments/implante.jpg"
          />
          <div class="cover">
            <h4 class="font-weight-light m-5">IMPLANTES</h4>
            <hr />
            <p>
              Reposición de los dientes perdidos con dispositivos biocompatibles
              de titanio que viabilizan la rehabilitación oral fija de los
              pacientes parcial o totalmente edéntulos.
            </p>
            <hr />
          </div>
        </div>

        <!-- Treatment -->
        <div class="col-sm treatment m-5 text-center">
          <img
            class="thumbnail"
            alt="thumbnail"
            src="../../../assets/treatments/tratamiento_conducto.jpg"
          />
          <div class="cover">
            <h4 class="font-weight-light m-5">ENDODONCIA</h4>
            <hr />
            <p>
              Limpieza, desinfección y conformación de los conductos radiculares
              como paso previo a los múltiples procedimmientos de próteses y
              restauración dental.
            </p>
            <hr />
          </div>
        </div>

      </div> <!-- End second row -->

      <!-- Third row -->
      <div class="row">

        <!-- Treatment -->
        <div class="col-sm treatment m-5 text-center">
          <img
            class="thumbnail"
            alt="thumbnail"
            src="../../../assets/treatments/ortodoncia.jpg"
          />
          <div class="cover">
            <h4 class="font-weight-light m-5">ORTODONCIA</h4>
            <hr />
            <p>
              Brackets y aparatoría funcional para la correción biomecánica de
              maloclusiones, malposiciones dentales y deformidades
              dentofaciales.
            </p>
            <hr />
          </div>
        </div>

        <!-- Treatment -->
        <div class="col-sm treatment m-5 text-center">
          <img
            class="thumbnail"
            alt="thumbnail"
            src="../../../assets/treatments/protesis_dental.jpg"
          />
          <div class="cover">
            <h4 class="font-weight-light m-5">PRÓTESIS ORAL</h4>
            <hr />
            <p>
              Diseño y confección de coronas cerámicas y estructuras protésicas
              que restituyen la integridad de las arcadas dentales, estética y
              función masticatoria.
            </p>
            <hr />
          </div>
        </div>

      </div> <!-- End third row -->

    </div> <!-- End container -->

  </div> <!-- End row -->


  <div class="address row mt-5">
    <!-- Address -->
    <img
      src="../../../assets/background/mapa.png"
      alt="mapa"
      width="100%"
      class="map img-responsive"
    />
    <!-- Map photo -->
    <div class="direction text-center d-flex justify-content-center align-items-center">
      <!-- Direction -->
      <p class="font-weight-light">
        Distribuidor Universidad <br />
        Av. Boyacá con autopista Petare-Guarenas. <br />
        Urbanización Terrazas del Ávila, Caracas-Miranda. <br />
        Zona postal 1073. <br>
        (0212) 234-2313 / 234-9283
      </p>
    </div>
  </div>

</div>
