<div class="container-fluid">
  <div class="row">
    <!-- <h1 class="text-center display-2">Bienvenidos</h1> -->
    <img
      src="../../../assets/background/smile.jpeg"
      alt="banner"
      class="img-fluid"
      width="100%"
      height="25%"
    />
  </div>

  <div class="row">
    <div class="w-100 jumbotron">
      <div class="container">
        <h1 class="display-3">Smiling Bird</h1>
        <p class="lead">
           Su clínica de confianza, siempre contigo.
        </p>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-end justify-content-center">
      <p class="w-75">
        En Smiling Bird ponemos a su disposición la experiencia del mejor equipo de odontólogos
        y las instalaciones más modernas y cómodas, además de la última tecnología a nivel mundial.
      </p>
      <p class="w-75">
        Somos un grupo humano verdaderamente comprometido con lo que hace, capaz de brindar
        un servicio de salud integral, personalizado y de alto valor científico, enfocado en la
        ética, responsabilidad y sentido social de nuestra labor.
      </p>
  </div>

  <div class="about-dentist row"></div>

  <div class="address row">
    <div class="container place shadow-lg">
      <p>
        <strong>Distribuidor Universidad</strong> <br/>
        Av. Boyacá con autopista Petare-Guarenas. <br />
        Urbanización Terrazas del Ávila, Caracas-Miranda. <br />
        Zona postal 1073
      </p>
    </div>
    <img
      src="../../../assets/background/mapa.png"
      alt="mapa"
      width="100%"
      height="15%"
      class="img-fluid"
    />
  </div>
</div>
