<div class="container-fluid">
  <div class="row">
    <img
      src="../../../assets/background/smile.jpeg"
      alt="banner"
      class="img-fluid"
      width="100%"
      height="30%"
    />
  </div>

  <div class="row intro">
    <div class="w-100 jumbotron">
      <div class="container">
        <h1 class="font-weight-light">Smiling Bird</h1>
        <h4 class="font-weight-light">
          Su clínica de confianza, siempre contigo.
        </h4>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-end justify-content-center mb-sm-5">
    <h5 class="w-100 text-center m-sm-5">¡Bienvenidos a nuestro espacio en la red!</h5>
    <p class="w-75">
      En Smiling Bird ponemos a su disposición la experiencia del mejor equipo
      de odontólogos y las instalaciones más modernas y cómodas, además de la
      última tecnología a nivel mundial.
    </p>
    <p class="w-75 mb-sm-5">
      Somos un grupo humano verdaderamente comprometido con lo que hace, capaz
      de brindar un servicio de salud integral, personalizado y de alto valor
      científico, enfocado en la ética, responsabilidad y sentido social de
      nuestra labor.
    </p>
    <h6 class="w-100 font-italic font-weight-light text-muted text-center">CARACAS-VENEZUELA</h6>
  </div>

  <div class="row">
    <ngb-carousel class="w-100">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="w-100 testimonial"></div>
        </div>
        <div class="carousel-caption">
          <p class="font-italic">
            “Quería colocarme implantes dentales y no sabía en quién confiar.
            Solicité varias opiniones y finalmente me decidí por SMILING BIRD
            porque me ofrecieron las mejores garantías y me transmitieron mucha
            seguridad. Ahora que acabé el tratamiento puedo decir que quedé
            encantada y que todo el equipo me pareció muy profesional”.
          </p>
          <hr />
          <h6 class="font-weight-light">Sara López</h6>
          <h6 class="font-weigt-lighter my-3 text-white-50 font-italic">Abogada</h6>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="w-100 testimonial"></div>
        </div>
        <div class="carousel-caption">
          <p class="font-italic">
            “Antes me daba vergüenza sonreír porque no estaba conforme con el
            aspecto de mi dentadura. Desde que visité SMILING BIRD me siento más
            cómoda y segura de mi misma. Me hicieron un diseño digital de
            sonrisa, me cortaron las encías y me blanquearon los dientes”.
          </p>
          <hr />
          <h6 class="font-weight-light">Jessica Wong</h6>
          <h6 class="font-weigt-lighter my-3 text-white-50 font-italic">Estudiante</h6>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="w-100 testimonial"></div>
        </div>
        <div class="carousel-caption">
          <p class="font-italic">
            “Me vi en la necesidad de ir a la clínica para tratar algunas caries
            y hacerme dos tratamientos de conducto. Recomendaría a SMILING BIRD
            por la asesoría, por la receptividad de su personal, por sus
            impecables instalaciones, y sobre todo porque los procedimientos
            fueron ejecutados sin ningún tipo de dolor”.
          </p>
          <hr />
          <h6 class="font-weight-light">Pablo Marcano</h6>
          <h6 class="font-weigt-lighter my-3 text-white-50 font-italic">
            Contador Público
          </h6>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="address row">
    <div class="container place shadow-lg">
      <p>
        <strong>Distribuidor Universidad</strong> <br />
        Av. Boyacá con autopista Petare-Guarenas. <br />
        Urbanización Terrazas del Ávila, Caracas-Miranda. <br />
        Zona postal 1073
      </p>
    </div>
    <img
      src="../../../assets/background/mapa.png"
      alt="mapa"
      width="100%"
      height="15%"
      class="img-fluid"
    />
  </div>
</div>
