<div class="row m-0">

  <div class="banner font-title">
      <p>Perfil<p>
  </div>

  <div class="col-md-4 text-center py-4 px-sm-4 pale-yellow">
    <img src="../../../../assets/extra/avatar.png" alt="avatar">
    <button class="btn btn-warning w-50" (click)="onEditMode()">{{ editMode ? 'Visualizar' : 'Editar' }}</button>
    <hr>
    <button class="btn btn-warning w-50" (click)="logOut()">Cerrar sesión</button>
  </div>

  <div class="col-md-8 py-4">
    <div class="border rounded bg-white">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
