* {
  box-sizing: border-box;
  margin: 0;
}

p, label, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.font-title {
  letter-spacing: 3px;
  text-shadow: 2px 2px rgb(255, 245, 152);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-field {
  background-color: #e6fcff;
}

.pale-yellow {
  background-color: #fffef0;
}

.main-theme {
  background: #007396;
}

.banner, .address {
  position: relative;
}

.banner img {
  width: 100vw;
  height: 50vh;
}

.banner .subtitle {
  color: #131313;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  /* For mobile phones: */

  .banner .subtitle{
    font-size: 2.5rem;
  }

  .banner img {
    height: 45vh;
  }

}
